:root{
    --principal: #f9f8ff;
    --azul-turquesa: #5ce1e6;
    --azul: #5271ff;
    --preto: #000000;
    --verde: #7ed957;
    --cinza-claro: #d9d9d9;
    --cinza-medio: #a6a6a6;
    --cinza-escuro: #737373;
} 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--principal);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

.cabecalho__menu{
    display: flex;
    column-gap: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.cabecalho__menu__link{
    text-decoration: none;
    color: var(--preto);
    border: solid transparent;
    border-radius: 8px;
    padding: 10px 20px;
    transition: 0.5s;
}

.cabecalho__menu__link:hover{
    transform: scale(1.1);
    box-shadow: 10px 5px 5px var(--preto);
    background-color: #5ce1e64b;
}

.cabecalho__redesocial{
    display: flex;
    column-gap: 20px;
}

.cabecalho__redesocial__tiktok,.cabecalho__redesocial__youtube{
    display: block;
    transition: 0.5s;
}

.cabecalho__redesocial__tiktok:hover,.cabecalho__redesocial__youtube:hover{
    transform: scale(1.5);
}

.titulo{
    color: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.1px var(--azul-turquesa);
	text-shadow: 0px 4px 4px var(--azul-turquesa);
    text-align: center;
}

#blog{
    display: flex;
    padding: 100px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0px;
    gap: 80px;
}

.blog__box{
    width: 300px;
    height: 350px;
    border: 0.25px solid var(--cinza-medio);
    border-radius: 20px;
    box-shadow: 10px 5px 5px var(--preto);
    text-align: center;
    background: url("../assets/logocinza-transparente.png") repeat;
    background-size: 45%;
    background-position: bottom;
     
}    

.blog__img{
    height: 300px;
    width: auto;
    margin: 10px 0px;
    border: 0.25px solid var(--cinza-escuro);
    border-radius: 20px;
    text-align: center;
}

.blog__text{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: var(--preto);
}   

.rodape{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: solid transparent;
    border-radius: 8px;
    border-width: 1px;
    background: rgb(92,225,230);
    background: radial-gradient(circle, rgba(92,225,230,1) 50%, rgba(82,113,255,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#area__formulario{
    display: flex;
    padding: 50px;
    justify-content: center;

}

.formulario{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.campo{
    width: 500px;
    height: 500px;
    text-align: center;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: url("../assets/logocinza-transparente.png") repeat;
    background-size: 30%;
    background-position: center;
    border: 0.25px solid var(--cinza-medio);
    border-radius: 20px;
}

.campo__nome{
    width: 400px;
    height: 35px;
    margin: 20px 2px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #5ce1e64b;
    border: 0.2px solid var(--azul-turquesa);
    border-radius: 8px;
}

.campo__email{
    width: 400px;
    height: 35px;
    margin: 20px 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #5ce1e64b;
    border: 0.2px solid var(--azul-turquesa);
    border-radius: 8px;
}

.campo__mensagem{
    width: 500px;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #5ce1e64b;
    border: 0.2px solid var(--azul-turquesa);
    border-radius: 8px;
}

.btn_submit{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: 0.25px solid var(--cinza-escuro);
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
}

.btn_submit:hover{
    transform: scale(1.1);
    box-shadow: 10px 5px 5px var(--preto);
    background-color: #5ce1e64b;
}

@media screen  and (max-width: 768px) {
    
    }


    

