:root{
    --principal: #f9f8ff;
    --azul-turquesa: #5ce1e6;
    --azul: #5271ff;
    --preto: #000000;
    --verde: #7ed957;
    --cinza-claro: #d9d9d9;
    --cinza-medio: #a6a6a6;
    --cinza-escuro: #737373;
    --fonte-titulo:
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    background-color: #FFFFFF;
}

.cabecalho__menu{
    display: flex;
    column-gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.cabecalho__menu__link{
    text-decoration: none;
    color: var(--principal);
    background-color: var(--preto);
    border: solid;
    border-radius: 8px;
    border-width: 1px;
    padding: 10px 20px;
}

.cabecalho__menu__link:hover{
    background-color: var(--azul-turquesa)
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3px;
    padding: 50px 0px;
    background-color: var(--principal);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }

.blog__heading__h1 {
    color: var(--cinza-claro);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.5rem;
    
}

.blog__heading__strong {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1px;
}





